<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718954354829-t5n1rg5auhrdjeerfj20uje8q0efatrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718954354829-t5n1rg5auhrdjeerfj20uje8q0efatrm</string>
	<key>API_KEY</key>
	<string>AIzaSyDcb4Px3g6y57ZAZ4zYIJ-67_cpqcLn9K8</string>
	<key>GCM_SENDER_ID</key>
	<string>718954354829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nataliakrawczuk.myGoals</string>
	<key>PROJECT_ID</key>
	<string>my-goals6896</string>
	<key>STORAGE_BUCKET</key>
	<string>my-goals6896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718954354829:ios:6eac9759feaae922162ac4</string>
</dict>
</plist>